<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Binary Id="CephActions" SourceFile="Actions\CephActions.js" />

    <CustomAction Id="InstallWindowsCephDriver_Prop" Property="InstallWindowsCephDriver"
                  Value='"[BINARIESDIR]devcon.exe" install "[DRIVERDIR]\wnbd.inf" "root\wnbd"|0|devcon failed to install the Windows Ceph RBD NBD driver'
                  Execute="immediate" />
    <CustomAction Id="InstallWindowsCephDriver"
              BinaryKey="CephActions"
              JScriptCall="runCommandAction" Execute="deferred" Return="check" Impersonate="no" />

    <CustomAction Id="InstallWindowsWnbdEtwEvents_Prop" Property="InstallWindowsWnbdEtwEvents"
                  Value='"[System64Folder]wevtutil.exe" im "[BINARIESDIR]\wnbdevents.xml"|0|wevutil failed to install the Windows WNBD ETW events'
                  Execute="immediate" />
    <CustomAction Id="InstallWindowsWnbdEtwEvents"
                  BinaryKey="CephActions"
                  JScriptCall="runCommandAction" Execute="deferred" Return="check" Impersonate="no" />

    <CustomAction Id="UninstallWindowsCephDriver_Prop" Property="UninstallWindowsCephDriver"
                  Value='"[BINARIESDIR]devcon.exe" remove "root\wnbd"|0|devcon failed to uninstall the Windows Ceph RBD NBD driver'
                  Execute="immediate" />
    <CustomAction Id="UninstallWindowsCephDriver"
              BinaryKey="CephActions"
              JScriptCall="runCommandAction" Execute="deferred" Return="check" Impersonate="no" />

    <CustomAction Id="UninstallWindowsCephDriverPnputil_Prop" Property="UninstallWindowsCephDriverPnputil"
                  Value='wnbd|0|pnputil failed to uninstall the Windows Ceph RBD NBD driver'
                  Execute="immediate" />
    <CustomAction Id="UninstallWindowsCephDriverPnputil"
              BinaryKey="CephActions"
              JScriptCall="removeDriverWithPnputil" Execute="deferred" Return="check" Impersonate="no" />

    <CustomAction Id="UninstallWindowsWnbdEtwEvents_Prop" Property="UninstallWindowsWnbdEtwEvents"
                  Value='"[System64Folder]wevtutil.exe" um "[BINARIESDIR]\wnbdevents.xml"|0|wevutil failed to uninstall the Windows WNBD ETW events'
                  Execute="immediate" />
    <CustomAction Id="UninstallWindowsWnbdEtwEvents"
                  BinaryKey="CephActions"
                  JScriptCall="runCommandAction" Execute="deferred" Return="check" Impersonate="no" />

    <CustomAction Id="StartWindowsCephDriver_Prop" Property="StartWindowsCephDriver"
                      Value='ceph-rbd||Start'
                      Execute="immediate" />
    <CustomAction Id="StartWindowsCephDriver"
                  BinaryKey="CephActions"
                  JScriptCall="changeServiceAction" Execute="deferred" Return="check" Impersonate="no" />
  </Fragment>
</Wix>