<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="{785B1085-EF9D-4566-A522-50F400273F07}" Name="Ceph for Windows" Language="1033" Version="1.0.0.0"
           Manufacturer="Ceph" UpgradeCode="5d5011f3-f107-4739-ad84-3d49dfebd221">
    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="mszip" />

    <Feature Id="CephCLI" Title="Ceph CLI" Level="1" Absent="disallow" InstallDefault="local" TypicalDefault="install" AllowAdvertise="no"
             Description="Installs the Ceph command line tools."
             ConfigurableDirectory="INSTALLDIR" Display="expand">
      <ComponentGroupRef Id="BinariesComponentGroup" />
      <ComponentRef Id="CephEnvVars" />
      <ComponentRef Id="AppDataDir" />
      <ComponentRef Id="CephRbdService" />
    </Feature>

    <Feature Id="WindowsCephDriver" Title="Windows Ceph RBD driver" Level="1" Absent="allow" InstallDefault="local" TypicalDefault="install" AllowAdvertise="no"
             Description="Installs the Windows Ceph RBD driver." Display="expand">
      <ComponentRef Id="WindowsCephDriver" />
      <ComponentRef Id="DevCon" />
      <!-- TODO: Consider using a separate feature for the symbols. This folder might
           include both WNBD and Ceph symbols. -->
      <ComponentGroupRef Id="SymbolsComponentGroup" />
      <!-- Force delete mappings on uninstall-->
      <Component Id="CleanRegistry"
                 Directory="TARGETDIR"
                 Guid="{280201D5-35E7-45D6-83B9-577EA1597BB5}"
                 KeyPath="yes">
        <RegistryKey Id="CleanupRegistryRbd"
                     Root="HKLM"
                     Key="SYSTEM\CurrentControlSet\Services\rbd-wnbd"
                     ForceDeleteOnUninstall="yes"
                     Action="createAndRemoveOnUninstall"/>
        <RegistryKey Id="CleanupRegistryWnbd"
                     Root="HKLM"
                     Key="SYSTEM\CurrentControlSet\Services\wnbd"
                     ForceDeleteOnUninstall="yes"
                     Action="createAndRemoveOnUninstall"/>
        <RegistryKey Id="CleanupRegistryEtwRbd"
                     Root="HKLM"
                     Key="SYSTEM\CurrentControlSet\Services\EventLog\Application\rbd-wnbd"
                     ForceDeleteOnUninstall="yes"
                     Action="createAndRemoveOnUninstall">
            <RegistryValue Type="string" Name="EventMessageFile" Value="[BINARIESDIR]event_logging.dll"/>
        </RegistryKey>
      </Component>
      <Feature Id="VC142Redist" Title="Visual C++ 19 Runtime" AllowAdvertise="no"
               Display="hidden" Level="1" Absent="disallow" InstallDefault="followParent"
               TypicalDefault="install">
        <MergeRef Id="VC142Redist_x64" />
      </Feature>
    </Feature>

    <UIRef Id="MyWixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Thank you for installing Ceph for Windows.&#xD;&#xA;&#xD;&#xA;Before using Ceph, make sure to configure it using C:\ProgramData\ceph.conf." />

    <WixVariable Id="WixUIBannerBmp" Value="images\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="images\dlgbmp.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <InstallExecuteSequence>
      <Custom Action="InstallWindowsCephDriver_Prop" After="CostFinalize"><![CDATA[REMOVE <> "ALL" AND (&WindowsCephDriver = 3)]]></Custom>
      <Custom Action="InstallWindowsCephDriver" Before="InstallWindowsWnbdEtwEvents" ><![CDATA[REMOVE <> "ALL" AND (&WindowsCephDriver = 3)]]></Custom>

      <Custom Action="InstallWindowsWnbdEtwEvents_Prop" After="InstallWindowsCephDriver"><![CDATA[REMOVE <> "ALL" AND (&WindowsCephDriver = 3)]]></Custom>
      <Custom Action="InstallWindowsWnbdEtwEvents" Before="StartWindowsCephDriver" ><![CDATA[REMOVE <> "ALL" AND (&WindowsCephDriver = 3)]]></Custom>

      <Custom Action="StartWindowsCephDriver_Prop" After="CostFinalize"><![CDATA[REMOVE <> "ALL" AND (&WindowsCephDriver = 3)]]></Custom>
      <Custom Action="StartWindowsCephDriver" Before="InstallFinalize" ><![CDATA[REMOVE <> "ALL" AND (&WindowsCephDriver = 3)]]></Custom>

      <Custom Action="UninstallWindowsCephDriver_Prop" After="CostFinalize"><![CDATA[(&WindowsCephDriver=2) AND (!WindowsCephDriver=3)]]></Custom>
      <Custom Action="UninstallWindowsCephDriver" Before="UninstallWindowsCephDriverPnputil" ><![CDATA[(&WindowsCephDriver=2) AND (!WindowsCephDriver=3)]]></Custom>

      <Custom Action="UninstallWindowsCephDriverPnputil_Prop" After="CostFinalize"><![CDATA[(&WindowsCephDriver=2) AND (!WindowsCephDriver=3)]]></Custom>
      <Custom Action="UninstallWindowsCephDriverPnputil" Before="UninstallWindowsWnbdEtwEvents" ><![CDATA[(&WindowsCephDriver=2) AND (!WindowsCephDriver=3)]]></Custom>

      <Custom Action="UninstallWindowsWnbdEtwEvents_Prop" After="CostFinalize"><![CDATA[(&WindowsCephDriver=2) AND (!WindowsCephDriver=3)]]></Custom>
      <Custom Action="UninstallWindowsWnbdEtwEvents" Before="RemoveFiles" ><![CDATA[(&WindowsCephDriver=2) AND (!WindowsCephDriver=3)]]></Custom>
    </InstallExecuteSequence>

    <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLDIR]" After="CostFinalize" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="Ceph" />
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="APPDATADIR" Name="Ceph">
          <Component Id="AppDataDir" Guid="{B84C1264-BE4A-409F-A1F1-60FCF3F124B4}">
            <CreateFolder />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="BINARIESDIR" Name="bin" />
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="DRIVERDIR" Name="driver" />
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="SYMBOLSDIR" Name="symbols" />
    </DirectoryRef>

    <Component Id="DevCon" Directory="BINARIESDIR" Guid="{63BCFA71-BAAC-4357-85F5-53A94EDAC75D}">
      <File Id="DevCon.exe" Source="Utils\DevCon.exe" KeyPath="yes" Checksum="yes" />
    </Component>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="CephEnvVars" Guid="{88593F1A-D60D-4785-852B-6314CDD09DAB}">
        <Environment Id="PATH" Name="PATH" Value="[BINARIESDIR]" Permanent="no" Part="last" Action="set" System="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>

    <Component Id="CephRbdService" Directory="BINARIESDIR" Guid="{280201D5-35E7-45D6-83B9-293F1A4F7F0D}">
      <File Id="RbdWnbd.exe" Source="Binaries\rbd-wnbd.exe" KeyPath="yes" Checksum="yes" />
      <ServiceInstall
                Arguments='service'
                Id="CephRbdServiceInstaller"
                Type="ownProcess"
                Vital="yes"
                Name="ceph-rbd"
                DisplayName="Ceph RBD Mapping Service"
                Description="Ceph RBD Mapping Service"
                Start="auto"
                Account="LocalSystem"
                ErrorControl="ignore"
                Interactive="no">
      </ServiceInstall>
      <ServiceControl
        Id="CephRbdServiceInstallerStartService"
        Stop="both"
        Remove="uninstall"
        Name="ceph-rbd"
        Wait="yes" />
      <util:ServiceConfig
        ServiceName="ceph-rbd"
        FirstFailureActionType="restart"
        SecondFailureActionType="restart"
        ThirdFailureActionType="restart"
        RestartServiceDelayInSeconds="1" />
    </Component>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="DRIVERDIR">
      <Component Id='WindowsCephDriver' Guid='{6129EA53-CEB3-4FC7-AAAF-E87EB7C37315}'>
        <File Id='wnbd.sys' Name='wnbd.sys' DiskId='1' Source='Driver\wnbd.sys' Checksum='yes' KeyPath='yes' />
        <File Id='wnbd.inf' Name='wnbd.inf' DiskId='1' Source='Driver\wnbd.inf' Checksum='yes' />
        <File Id='wnbd.cat' Name='wnbd.cat' DiskId='1' Source='Driver\wnbd.cat' Checksum='yes' />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Merge Id="VC142Redist_x64" SourceFile="Microsoft_VC142_CRT_x64.msm" DiskId="1" Language="0" />
    </DirectoryRef>
  </Fragment>

</Wix>
