<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Binary Id="CephActions" SourceFile="Actions\CephActions.js" />
    <CustomAction Id="ChangeCephService"
              BinaryKey="CephActions"
              JScriptCall="changeServiceAction" Execute="deferred" Return="check" Impersonate="no" />
  </Fragment>
</Wix>