<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="{0DF60ED5-6C22-49A0-913E-77412D35C400}" Name="Ceph for Windows" Language="1033" Version="1.0.0.0"
           Manufacturer="Ceph" UpgradeCode="da802b12-433d-4742-a7ae-783aa0c48222">
    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" InstallPrivileges="elevated" Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="mszip" />

    <Feature Id="CephCLI" Title="Windows Ceph CLI" Level="1" Absent="disallow" InstallDefault="local" TypicalDefault="install" AllowAdvertise="no"
             Description="Installs the Ceph command line tools."
             ConfigurableDirectory="INSTALLDIR" Display="expand">
      <ComponentGroupRef Id="BinariesComponentGroup" />
      <ComponentRef Id="CephEnvVars" />
    </Feature>

    <Feature Id="WindowsCephDriver" Title="Windows Ceph RBD NBD driver" Level="1" Absent="allow" InstallDefault="local" TypicalDefault="install" AllowAdvertise="no"
             Description="Installs the Windows Ceph RBD NBD driver." Display="expand">
      <ComponentRef Id="WindowsCephDriver" />
      <ComponentRef Id="LogsDir" />
      <ComponentRef Id="AppDataDir" />
    </Feature>

    <UIRef Id="MyWixUI_FeatureTree" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUIBannerBmp" Value="images\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="images\dlgbmp.bmp" />
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <InstallExecuteSequence>
      <Custom Action="InstallWindowsCephDriver_Prop" After="CostFinalize"><![CDATA[REMOVE <> "ALL" AND (&WindowsCephDriver = 3)]]></Custom>
      <Custom Action="InstallWindowsCephDriver" Before="InstallFinalize" ><![CDATA[REMOVE <> "ALL" AND (&WindowsCephDriver = 3)]]></Custom>

      <Custom Action="UninstallWindowsCephDriver_Prop" After="CostFinalize"><![CDATA[(&WindowsCephDriver=2) AND (!WindowsCephDriver=3)]]></Custom>
      <Custom Action="UninstallWindowsCephDriver" Before="RemoveFiles" ><![CDATA[(&WindowsCephDriver=2) AND (!WindowsCephDriver=3)]]></Custom>
    </InstallExecuteSequence>

    <SetProperty Id="ARPINSTALLLOCATION" Value="[INSTALLDIR]" After="CostFinalize" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="Ceph" />
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="APPDATADIR" Name="Ceph">
          <Component Id="AppDataDir" Guid="{9FAA3CD1-2234-4D6E-A974-D3D48A40773F}">
            <CreateFolder />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="BINARIESDIR" Name="bin" />
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="DRIVERDIR" Name="driver" />
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="LOGSDIR" Name="logs">
        <Component Id="LogsDir" Guid="{CA78C399-6E2C-4D39-88FB-1F58AC9DF8AC}">
          <CreateFolder />
        </Component>
      </Directory>
    </DirectoryRef>

    <DirectoryRef Id="INSTALLDIR">
      <Directory Id="CONFDIR" Name="conf" />
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="CephEnvVars" Guid="{4FCCA9D3-77BE-4283-815E-E3E63D4BF763}">
        <Environment Id="PATH" Name="PATH" Value="[BINARIESDIR]" Permanent="no" Part="last" Action="set" System="yes" />
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="DRIVERDIR">
      <Component Id='WindowsCephDriver' Guid='{7A1E2446-8196-4738-8362-5CFD55896A7A}'>
        <File Id='wnbd.sys' Name='wnbd.sys' DiskId='1' Source='Driver\wnbd.sys' Checksum='yes' KeyPath='yes' />
        <File Id='wnbd.inf' Name='wnbd.inf' DiskId='1' Source='Driver\wnbd.inf' Checksum='yes' />
        <File Id='wnbd.cat' Name='wnbd.cat' DiskId='1' Source='Driver\wnbd.cat' Checksum='yes' />
      </Component>
    </DirectoryRef>
  </Fragment>

</Wix>
